.vinglishCentre {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 10px;
    align-items: center;
    justify-items: center;
}

.vinglishHeader {
    align-self: end;
}

textarea, textarea:focus, textarea:active, .outputText {
    border: 0;
    background-color: #526760;
    height: 5vh;
    width: 35vw;
    text-align: center;
    color: #CCDBDC; 
    font: inherit;
}

button, button:focus {
    border: solid;
    border-radius: 10px;
    color: #526760;
    outline: 0;
    background-color: #85BAA1;
    font: inherit;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    grid-column: 2/3;
    grid-row: 2/3;
}

.sliders {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-row-gap: 10px;
    justify-items: end;
}

.sliders div {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 5px;
}

input[type="range" i] {
    -webkit-appearance: none;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s ease-out;
}

input[type="range" i]:hover {
    opacity: 1; 
}

input[type="range" i]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 25px; 
    height: 25px; 
    background: #526760; 
    cursor: pointer; 
}

input[type="range" i]::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #526760; 
    cursor: pointer;
}