@font-face {
  font-family:header; 
  src:url(http://www.vinxis.moe/AvenirLTStd-Light.woff);
}
html {
  height:100%;
  width:100%;
  background:black;
}
body {
  height:100%;
  width:100%;
  margin:0px;
  background-color: #d8d8d8;
}
#box {
  position: absolute;
  height: 100%;
  width: 100%;
}
textarea:focus {
  outline: -webkit-focus-ring-color 0px;
  outline-offset: 0px;
}
textarea {
  width: 10%;
  height: 10%;
  border-width: 1px;
  font-family: sans-serif;
  position: absolute;
  z-index: 100;
}
button {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 100;
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    font-family: header;
}
#entry {
  top: 50%;
  left: 25%;
  transform: translate(-25%,-50%);
  }
#result {
  top: 50%;
  left: 75%;
  transform: translate(-75%,-50%);
}
h1#entryheader {
    font-family: header;
    font-weight: lighter;
    display: initial;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-25%,-40%);
}

div#box1 {
    position: absolute;
    height: 100%;
    width: 100%;
}

div#box2 {
    position: absolute;
    height: 100%;
    width: 100%;
}

h1#resultheader {
    font-family: header;
    font-weight: lighter;
    display: initial;
    position: absolute;
    top: 40%;
    left: 75%;
    transform: translate(-75%,-40%);
}
