html {
  height:100%;
  width:100%;
  background:black;
}
body {
  height:100%;
  width:100%;
  margin:0px;
}
#box1 {
  background-color:#d8d8d8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
