@font-face {
  font-family:header; 
  src:url(http://www.vinxis.moe/AvenirLTStd-Light.woff);
}
html {
  height:100%;
  width:100%;
  background:black;
}
body {
  height:100%;
  width:100%;
  margin:0px;
}
#box1 {
  background-color:#d8d8d8;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-25%,-50%);
  font-family: header;
}
#box2 {
  background-color:#d8d8d8;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-75%,-50%);
  font-family: header;
}
textarea:focus {
  outline: -webkit-focus-ring-color 0px;
  outline-offset: 0px;
}
textarea {
  width: 400%;
  height: 2000%;
  padding: 1px 1px;
  border-width: 1px;
  font-family: sans-serif;
  position: absolute;
}
button {
    top: 70%;
    left: 50%;
    transform: translate(-50%,-70%);
    position: absolute;
}
