@font-face {
  font-family:text; 
  src:url(BebasNeuewebfont.woff)
}

#clockbox {
    font-family: text;
    font-size: 500px;
    text-align: center;
    background: -webkit-linear-gradient(#005782, #00445b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
