@font-face {
  font-family:text; 
  src:url(Axis_Extrabold.otf)
}

#clockbox {
    font-family: text;
    font-size: 180px;
    text-align: center;
    color: #ffffff;
}
#clockboxtest {
    font-family: text;
    font-size: 180px;
    text-align: center;
    color: #ffffff;
}
