@font-face {
  font-family: text; 
  src: url(AvenirLTStd-Light.woff);
}

@keyframes centreFade {
  from {opacity: 0;}
  to {opacity: 100;}
}

* {
  margin: 0;
  list-style: none;
  white-space: nowrap;
}

body {
  background-color: #85BAA1;
  color: #374B4A;
  display: grid;
  grid-template-rows: repeat(3,1fr);
  font-family: 'text', sans-serif;
  height: 100vh;
  width: 100vw;
}

.top {
  grid-row-start: 1;
  grid-column-start: 1;
  display: flex;
  position: relative;
  left: -95px;
  transition: 0.2s;
  transition-timing-function: ease-out;
}

.toggle {
  cursor: pointer;
  font-size: 4em;
  padding-left: 10px;
}

.nav {
  width: 70px;
  line-height: 2;
  opacity: 0;
  padding-left: 25px;
  padding-top: 12px;
  cursor: pointer;
}

.corsace {
  height: 0;
  width: 0;
  overflow: hidden;
  transition: 0.2s;
  transition-timing-function: ease-out;
}

.links {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  transition: 0.2s;
  transition-timing-function: ease-out;
}

li {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #374B4A;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}

li:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
} 

.centre {
  grid-row-start: 2;
  text-align: center;
  align-self: center;
  animation-name: centreFade;
  animation-duration: 2s;
  line-height: 1.5;
}

.logo {
  position: relative;
  height: 10%;
  width: 10%;
}