@font-face {
  font-family:text; 
  src:url(AvenirLTStd-Light.woff)
}
body {
  height:100%; 
  width:100%; 
  background-color:black;
}
div {
  width:100%; 
  height:100%; 
  font-family:text; 
  color:white;
}
#wordz {
  position:fixed;
  top:50%;
  left:50%;
  margin-top:-50px
  margin-left:-100px;
}
h1 {
  color:orange;
}
