@font-face {
  font-family:text; 
  src:url(AvenirLTStd-Light.woff)
}
@keyframes fade{
  from {opacity:0.0;}
  to {opacity:1.0;}
}
html {
  background:black;
  height:100%;
  width:100%;
}
body {
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function:ease-out;
  height:100%; 
  width:100%; 
  margin: 0 auto;
}
div {
  font-family:text; 
  color:#d8d8d8;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.meme {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9.5px;
  margin-left: -26.3205px;
}
#button {
  animation-name: fade;
  animation-delay:2s;
  position:relative;
  margin:0 auto;
}
#button img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  height:64px;
}

#button img.top:hover {
  opacity:0;
}
ul {
  padding: 0% 0% 64px;
}
h1 {
  color:orange;
}
