@font-face {
  font-family:text; 
  src:url(AvenirLTStd-Light.woff)
}
@keyframes fade{
  from {opacity:0.0;}
  to {opacity:1.0;}
}
html {
  height:100%;
  width:100%;
}
body {
  background-image: url(lmnop.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height:100%; 
  width:100%; 
  margin: 0 auto;
  background-color:black;
}
div {
  font-family:text; 
  color:white;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.outer {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function:ease-out;
}
.meme {
  padding: 1%;
}
h1 {
  color:orange;
}
