@font-face {
  font-family:text; 
  src:url(AvenirLTStd-Light.woff)
}
body {
  height:100%; 
  width:100%; 
  background-color:black;
}
div {
  width:100%; 
  height:100%; 
  font-family:text; 
  color:white;
}
#centre {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 1000px;
  height: 1000px;
  background-color: black;
  margin: auto;
}
h1 {
  color:orange;
}
