@font-face {
  font-family:text; 
  src:url(AvenirLTStd-Light.woff)
}
@keyframes fade{
  from {opacity:0.0;}
  to {opacity:1.0;}
}
html {
  background:black;
  height:100%;
  width:100%;
}
body {
  height:100%; 
  width:100%; 
  margin: 0 auto;
}
div {
  font-family:text; 
  color:white;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.outer {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function:ease-out;
}
.meme {
  padding: 1%;
}
h1 {
  color:orange;
}
