@font-face {
  font-family:text; 
  src:url(AvenirLTStd-Light.woff)
}
@keyframes fade{
  from {opacity:0.0;}
  to {opacity:1.0;}
}
@keyframes fadedelay{
  0% {opacity:0.0;}
  50% {opacity:0.0;}
  100% {opacity:1.0;}
}
html {
  background:black;
  height:100%;
  width:100%;
}
body {
  height:100%; 
  width:100%; 
  margin: 0 auto;
}
.fullscreen-bg {
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function:ease-out;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.meme {
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function:ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#button {
  animation-name: fadedelay;
  animation-duration: 4s;
  animation-timing-function:ease-out;
  position:fixed;
  margin:0 auto;
}
#button img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  height:84px;
}
#button img.top:hover {
  opacity:0;
}
img[src^="8wPQd83"] {
  height:256px;
}
#buttonpadding {
  padding: 0% 0% 84px 0%;
}
h1 {
  font-family:text; 
  color:#d8d8d8;
  text-align:center;
  text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
}
.scrolldown {
  background-color:#d8d8d8;
  top:100%;
  width: 100%;
  position: absolute;
  margin: 0 auto;
}
h2 {
  font-family:text; 
  text-align:center;
}
p {
  font-family:text; 
}
.bgsource {
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function:ease-out;
  bottom:0%;
  left:5%;
  position:fixed;
  z-index:-100;
}
