@font-face {
  font-family:text; 
  src:url(AvenirLTStd-Light.woff)
}
html {
  height:100%;
  width:100%;
}
body {
  height:100%; 
  width:100%; 
  margin: 0 auto;
  background-color:black;
}
div {
  font-family:text; 
  color:white;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.outer {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.meme {
  padding: 5% 15px;
}
h1 {
  color:orange;
}
