---
import { Image } from "astro:assets";
import Default from "../layouts/Default.astro";
import vinxisOrange from "../images/vinxisOrange.png";

const meta = {
    title: "VINXIS",
    description: "I make music and other stuff",
    ogTitle: "VINXIS",
    ogDescription: "I make music and other stuff",
    ogType: "website",
    ogUrl: "https://vinxis.moe",
    ogSiteName: "VINXIS",
    ogLocale: "en_US",
    ogImage: "https://vinxis.moe/metaImage.png",
    twitterCard: "summary_large_image",
    twitterTitle: "VINXIS",
    twitterDescription: "I make music and other stuff",
    twitterImage: "https://vinxis.moe/metaImage.png",
};
---

<Default meta={meta}>
    <div class="main-page">
        <div class="logo-container">
            <Image
                class="logo"
                src={vinxisOrange}
                alt="VINXIS Logo"
            />
            <h1 class="name">VINXIS</h1>
        </div>
    </div>
    <span slot="hidden" class="hidden">I make music and other stuff</span>
    <span slot="hidden" class="hidden" style="top:calc(10vw + 3rem + 30vh); left:0; right:0; display:flex; justify-content:center;">You can find hidden text on every page!</span>
    <span slot="hidden" class="hidden" style="top:200px; left:initial; right:300px;">How u doin? Lemme know <a href="/contact">here</a></span>
    <a slot="hidden" class="hidden" href="https://youtu.be/_twR_GdoVfk" style="top:initial; left:initial; right:200px; bottom:2rem; width:75vw;">skibidi toilet ended my 5 five year long relationship So to give a little background info, I love watching youtube shorts, I binge watch them. On average, I spend about 8 hours daily watching shorts, it's my guilty pleasure. No one knows about this, as I keep it a good secret. One day, when I was meant to be at school, I was watching some shorts. My mum came in and was shocked. So she didn't see what I was doing, I hid my phone under my pillow and told her to leave because I was having a wank. I got away with it, but the same day, I was around my GF's house, and we were watching a movie. I was watching shorts the whole time, and I was so sneaky, she didn't notice. She was trying to make advances on me and she put her hand on my thigh. I didn't think much of it and kept scrolling. She noticed that I was watching youtube shorts when I was watching ''skibidi toilet 58 (fanmade)'' and suddenly my phone's volume went up to the maximum out of nowhere (the volume button on my phone has been broken for like a month now.). She immediately took her hand off of my thigh and screamed ''ARE YOU WATCHING FUCKING SKIBIDI TOILET?!'' and, I'll spare you the details, but I'm currently sitting on her porch, bawling my fucking eyes out. I'm not sure if I'll ever recover from this, but atleast I have youtube shorts.</a>
</Default>

<style>
    .main-page {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 10vw;
        height: 10vw;
    }

    .name {
        font-size: 3rem;
        margin: 0;
    }
</style>
