---
import { Image } from "astro:assets";
import Default from "../layouts/Default.astro";
import vinxisWhite from "../images/vinxisWhite.png";

const meta = {
    title: "VINXIS",
    description: "I make music and other stuff",
    ogTitle: "VINXIS",
    ogDescription: "I make music and other stuff",
    ogType: "website",
    ogUrl: "https://vinxis.moe",
    ogSiteName: "VINXIS",
    ogLocale: "en_US",
    ogImage: "https://vinxis.moe/vinxisOrange.png",
    twitterCard: "summary_large_image",
    twitterTitle: "VINXIS",
    twitterDescription: "I make music and other stuff",
    twitterImage: "https://vinxis.moe/vinxisOrange.png",
};
---

<Default meta={meta}>
    <div class="main-page">
        <div class="logo-container">
            <Image
                class="logo"
                src={vinxisWhite}
                alt="VINXIS Logo"
            />
            <h1 class="name">VINXIS</h1>
            <p>Music, Software Dev, Materials Engineering</p>
        </div>
    </div>
</Default>

<!-- Styles -->
<style>
    .main-page {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 10vw;
        height: 10vw;
    }

    .name {
        font-size: 3rem;
        margin: 0;
    }
</style>
