:root {
    --primary: #ff6200;
    --secondary: #009aff;
    --analogous1: #ffa600;
    --analogous2: #ff3100;
    --neutral: #7c7c7c;
    --dark-neutral: #444444;
}

@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 400;
    src: url("/font/latin-ext.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
        U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 400;
    src: url("/font/latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    transition: all 0.25s ease;
}

body {
    font-family: "Avenir", sans-serif;
    background-color: var(--primary);
    color: #ffffff;
    margin: 0;
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 9;
    padding-left: 25px;
}

.navbar.show {
    transform: translateX(0%);
    padding-left: 25px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    position: relative;
}

.navbar ul li::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--secondary);
}

.navbar ul li:hover::after {
    width: 100%;
}

.navbar ul li:hover {
    color: var(--secondary);
    cursor: pointer;
}

.nav-item {
    cursor: pointer;
    position: relative;
}

.nav-item::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--secondary);
}

.nav-item:hover::after {
    width: 100%;
}

.nav-item:hover {
    color: var(--secondary);
}

.navbar ul li:has(ul):hover {
    color: #ffffff;
}

.navbar ul li:has(ul)::after {
    display: none;
}

.sub-list {
    list-style-type: none;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    max-height: 320px;
    overflow: hidden;
}

.slideDown-leave-to,
.slideDown-enter-from {
    max-height: 0px;
}

.slideDown-leave-from,
.slideDown-enter-to {
    max-height: 320px;
}

.sub-list li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.sub-list li a {
    color: inherit;
    text-decoration: none;
}

.sub-list li a:hover {
    color: var(--secondary);
}

.hamburger-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 25px;
}

.hamburger {
    position: fixed;
    top: 25px;
    left: 25px;
    font-size: 4rem;
    line-height: 4rem;
    cursor: pointer;
    z-index: 10;
}

.hamburger:hover {
    color: var(--secondary);
    transition: color 0.3s ease;
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

.particles-top {
    z-index: 100;
}

.no-scrollbar {
    overflow: hidden;
}

.page-leave-to {
    transform: translateX(-100%);
}

.page-enter-from {
    transform: translateX(100%);
}

.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 200px;
    height: auto;
}

.name {
    font-size: 3rem;
    margin: 0;
}

.page {
    padding: 10rem 5rem 5rem;
}

.title {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.discography-page {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    position: relative;
}

.grid-item {
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.grid-item::before {
    content: "";
    background-image: linear-gradient(
            rgba(255, 98, 0, 0.2),
            rgba(255, 98, 0, 0.2)
        ),
        url("/discography/background.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.grid-item-content {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.grid-item-content-row {
    display: flex;
    justify-content: space-between;
}

.external-links img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    filter: brightness(0) invert(1);
}

.vinglish-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: calc(100vh - 20rem);
}

.text-boxes {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 100%;
    flex: 1;
}

.text-boxes textarea {
    flex: 1;
    padding: 1rem;
    font-family: "Avenir", sans-serif;
    font-size: 1rem;
    background-color: var(--dark-neutral);
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.text-boxes textarea::placeholder {
    color: var(--primary);
}

.text-boxes textarea:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 10px 1px #ffffff;
}

.knobs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25%;
}

.knob input[type="range"] {
    width: 100%;
    background-color: transparent;
    -webkit-appearance: none;
    border-radius: 5px;
}

.knob input[type="range"]:hover {
    box-shadow: 0 0 10px 1px #ffffff;
}

.knob input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #009aff;
    border: none;
    cursor: pointer;
}

.knob input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    background-color: var(--dark-neutral);
    border: none;
    border-radius: 5px;
}

.knob input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #009aff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.knob input[type="range"]::-moz-range-track {
    width: 100%;
    height: 4px;
    background-color: var(--neutral);
    border: none;
    border-radius: 5px;
}

.knob input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    background-color: #009aff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.knob input[type="range"]::-ms-track {
    width: 100%;
    height: 4px;
    background-color: var(--neutral);
    border: none;
    border-radius: 5px;
}

.button {
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: var(--dark-neutral);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: min-content;
}

.button:hover {
    background-color: var(--secondary);
}

.contact-page {
    background-color: var(--dark-neutral);
    height: calc(100vh - 15rem);
    text-align: right;
}

.contact-description {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.contact-list {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 10px;
}

.contact-item {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
}

.contact-link {
    color: #009aff;
    text-decoration: none;
    cursor: pointer;
}

.contact-link:hover {
    color: #007acc;
    text-decoration: underline;
}
