:root {
    --primary: #ff6200;
    --secondary: #009aff;
    --analogous1: #ffa600;
    --analogous2: #ff3100;
    --neutral: #7c7c7c;
    --dark-neutral: #444444;
}

@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/font/latin-ext.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
        U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/font/latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    transition: all 0.25s ease;
}

body {
    font-family: "Avenir", sans-serif;
    background-color: var(--primary);
    color: #ffffff;
    margin: 0;
}

.no-scrollbar {
    overflow: hidden;
}

.page-leave-to {
    transform: translateX(-100%);
}

.page-enter-from {
    transform: translateX(100%);
}

.page {
    padding: 10rem 5rem 5rem;
}

.title {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1rem;
}