<div transition:persist>
  <div class="hamburger" id="hamburger">
    &#9776;
  </div>
  <nav class="navbar" id="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/music">Music</a></li>
      <li><a href="/vinglish">Vinglish</a></li>
      <li><a href="/contact">Contact</a></li>
      <li>
        <div class="nav-item" id="corsace-header">Corsace</div>
        <ul id="corsace-links" class="sub-list">
          <li><a href="https://corsace.io/">Website</a></li>
          <li><a href="https://discord.gg/Z6vEMsr">Discord</a></li>
        </ul>
      </li>
      <li>
        <div class="nav-item" id="external-header">External Links</div>
        <ul id="external-links" class="sub-list">
            <li>
                <a
                    href="https://github.com/VINXIS"
                    target="_blank"
                >GitHub</a>
            </li>
            <li>
                <a
                    href="https://paypal.me/VINXIS"
                    target="_blank"
                >PayPal</a>
            </li>
            <li>
                <a
                    href="https://vinxis.bandcamp.com"
                    target="_blank"
                >Bandcamp</a>
            </li>
            <li>
                <a
                    href="https://soundcloud.com/vinxis"
                    target="_blank"
                >Soundcloud</a>
            </li>
            <li>
                <a
                    href="https://www.youtube.com/user/OYKXF"
                    target="_blank"
                >Youtube</a>
            </li>
            <li>
                <a
                    href="https://open.spotify.com/artist/2cNVX1qSKExpOojOx3INu8"
                    target="_blank"
                >Spotify</a>
            </li>
            <li>
                <a
                    href="https://itunes.apple.com/us/artist/vinxis/1342478754"
                    target="_blank"
                >Apple Music</a>
            </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<script>
    let isNavbarVisible = false;
    const visibleSubMenus: Record<string, boolean> = {};

    document.getElementById('hamburger')!.addEventListener('click', () => {
      isNavbarVisible = !isNavbarVisible;
      const navbar = document.getElementById('navbar');
      if (navbar)
        navbar.classList.toggle('show', isNavbarVisible);
    });
  
    function toggleSubMenu(id: string) {
      visibleSubMenus[id] = !visibleSubMenus[id];
      const submenu = document.getElementById(id);
      if (submenu) {
        submenu.style.height = visibleSubMenus[id] ? `${submenu.scrollHeight}px` : '0';
        submenu.style.marginTop = visibleSubMenus[id] ? '0.5rem' : '0';
      }
    }

    const headers = [document.getElementById('corsace-header')!, document.getElementById('external-header')!];
    headers.forEach(header => {
      const linksID = header.id.replace('-header', '-links');
      const linksIDElement = document.getElementById(linksID)!;
      linksIDElement.style.height = '0';
      linksIDElement.style.marginTop = '0';
      header.addEventListener('click', () => {
        toggleSubMenu(linksID);
      });
    });
</script>

<style>
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 9;
    padding-left: 25px;
}

.navbar.show {
    transform: translateX(0%);
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    max-height: 75%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) rgba(0, 0, 0, 0);
}

.navbar ul * {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.navbar ul *::-webkit-scrollbar {
    display: none;
}

.navbar ul li:nth-child(even) {
    color: #ffffff;
}

.navbar ul li {
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    position: relative;
}

.navbar ul li:hover {
    cursor: pointer;
}

.nav-item {
    cursor: pointer;
    position: relative;
    overflow: visible;
}

.nav-item::after, .navbar ul li::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--secondary);
}

.nav-item:hover::after, .navbar ul li:hover::after {
    width: 100%;
}

.nav-item:hover, .navbar ul li:hover {
    color: var(--secondary);
}

.navbar ul li:has(ul):hover {
    color: #ffffff;
}

.navbar ul li:has(ul)::after {
    display: none;
}

.sub-list {
    list-style-type: none;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    overflow: hidden;
}

.sub-list li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.sub-list li:last-child {
    margin-bottom: 0;
}

.sub-list li a {
    display: block;
    color: inherit;
    text-decoration: none;
}

.sub-list li a:hover {
    color: var(--secondary);
}

.hamburger {
    position: fixed;
    top: 25px;
    left: 25px;
    font-size: 4rem;
    line-height: 4rem;
    cursor: pointer;
    z-index: 10;
}

.hamburger:hover {
    color: var(--secondary);
    transition: color 0.3s ease;
}
</style>