@font-face {
  font-family:header; 
  src:url(http://vinxis.moe/AvenirLTStd-Light.woff);
}
html {
  height:100%;
  width:100%;
  background:black;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#box {
  position: relative;
  flex: 3;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
textarea:focus {
  outline: -webkit-focus-ring-color 0px;
  outline-offset: 0px;
}
textarea {
  border-width: 1px;
  font-family: sans-serif;
  position: relative;
  flex: 1;
  padding: 2px 10px 50px;
}
button {
  position: relative;
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  font-family: header;
  overflow: hidden;
  flex: 1;
}
button:focus {
    outline: none;
}
button:active {
    background-color: #d8d8d8;
}
h1#entryheader {
    font-family: header;
    font-weight: lighter;
    display: initial;
}
h1#resultheader {
    font-family: header;
    font-weight: lighter;
    display: initial;
}
h1#apiheader {
    font-family: header;
    font-weight: lighter;
    display: initial;
}