@font-face {
  font-family:header; 
  src:url(http://vinxis.moe/AvenirLTStd-Light.woff);
}
html {
  height:100%;
  width:100%;
  background:black;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#box {
  position: relative;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0px 200px;
}
textarea:focus {
  outline: -webkit-focus-ring-color 0px;
  outline-offset: 0px;
}
textarea {
  width: 100%;
  height: 100%;
  border-width: 1px;
  font-family: sans-serif;
  position: absolute;
  margin: 10px 0px;
}
button {
    position: absolute;
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    font-family: header;
    overflow: hidden;
    margin: 0px 200px;
}
button:focus {
    outline: none;
}
button:active {
    background-color: #d8d8d8;
}
h1#entryheader {
    font-family: header;
    font-weight: lighter;
    display: initial;
}
h1#resultheader {
    font-family: header;
    font-weight: lighter;
    display: initial;
}
h1#apiheader {
    font-family: header;
    font-weight: lighter;
    display: initial;
}