---
import { ViewTransitions } from "astro:transitions";
import SpeedInsights from "@vercel/speed-insights/astro";
import MetaTags from "../components/MetaTags.astro";
import NavigationBar from "../components/NavigationBar.astro";
import Flashlight from "../components/Flashlight.astro";
import "../styles/main.css";

const { meta } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <MetaTags {...meta} />
        <ViewTransitions />
        <SpeedInsights />
    </head>
    <body>
        <NavigationBar />
        <main transition:animate="slide" class="fade-in">
            <slot />
        </main>
        <Flashlight />
    </body>
    <noscript>
        <style>
            .hidden {
                user-select: initial;
            }

            .hidden:hover {
                color: var(--primary);
            }
        </style>
    </noscript>
</html>

<style>
  .fade-in {
      animation: fadeIn ease 1s;
      -webkit-animation: fadeIn ease 1s;
      -moz-animation: fadeIn ease 1s;
      -o-animation: fadeIn ease 1s;
      -ms-animation: fadeIn ease 1s;
  }
</style>